---
import { Icon } from 'astro-icon/components';
import { cutOffText } from "../../../utils/general.utils.ts";
import { MINIMUM_BADGE_CHARACTERS } from '../../../constants/daisyui.constants';

interface Props {
    color: string,
    content: string, 
    iconName: string,
    textId: string,
    isSmall: boolean,
}

const { 
    color,
    content,
    iconName,
    textId,
    isSmall,
} = Astro.props;



---
<div class={`badge ${color} ${isSmall ? "badge-sm text-sm" : ""}`}>
    <Icon name={iconName}/>
    <span id={textId}>
        {cutOffText(content.toUpperCase(), MINIMUM_BADGE_CHARACTERS)}
    </span>
</div>