---
import { Icon } from "astro-icon/components";

interface Props {
    newClass: string
}

const { 
    newClass = ""
} = Astro.props;
---
<span class={newClass}>
    <Icon name="cib:oracle" class={newClass} />
</span>