---
import { Icon } from "astro-icon/components";

interface Props {
    _class: string
}

const { 
    _class = ""
} = Astro.props;
---
<span class={_class}>
    <Icon name="streamline-ultimate:microsoft-excel-logo" class={_class} />
</span>