---
import { Icon } from "astro-icon/components";

interface Props {
    _class?: string
}

const { 
    _class = ""
} = Astro.props;
---
<span class={_class}>
    <Icon name="bi:linkedin" class={_class} />
</span>